{% extends "base.html" %}

{% block body %}

<div class="row">

	<div class="col-md-8">
		<h3>Sadržaj košarice</h3>
		{% for meal in meals %}
			{% include 'meal/list_item.html' with in_cart=True meal=meal.0 meal_count=meal.1 only %}
		{% empty %}
		<em>Vaša košarica je prazna</em>
		{% endfor %}	
		<hr />
		<p>Ukupna vrijednost: {{ total|floatformat:2 }} HRK</p>
	</div>

	<div class="col-md-4">
		<h4>Detalji narudžbe</h4>
		<p>Cijena artikala: {{ total|floatformat:2 }} HRK</p>
		<p>Cijena dostave: {{ delivery|floatformat:2 }} HRK</p>
		<p>Ukupna cijena: {{ full|floatformat:2 }} HRK</p>
		<form method="post">{% csrf_token %}
			{{ form.as_p }}
			{% if total < minimum %}
			<em>Vaša narudžba nije dosegla minimalan iznos od {{ minimum|floatformat:2 }} kuna.</em>
			{% else %}
			<input type="submit" value="Naruči" />
			{% endif %}
		</form>
	</div>

</div>

{% endblock %}
