<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{% url 'index' %}">Pizzeria 7-ica</a>
	</div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li><a href="{% url 'index' %}">O nama</a></li>
			<li><a href="{% url 'menu' %}">Meni</a></li>
			<li><a href="#">Moja košarica</a></li>
			<li><a href="{% url 'comments' %}">Komentari drugih</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="{% url 'admin:index' %}" target="_blank">Administracija</a></li>	
		</ul>
	</div>
</nav>
