{% extends "base.html" %}

{% block body %}

<div class="row">
	<div class="col-md-8">
	{% for category in categories %}
		<h2>{{ category.name }}</h2>
		{% for meal in category.meal_set.all %}
			{% include 'meal/list_item.html' with meal=meal only %}	
		{% empty %}
			<em>Nema jela u ovoj kategoriji</em>
		{% endfor %}
	{% endfor %}
	</div>
	<div class="col-md-4">
		<h3>U vašoj košarici</h3>
		{% for meal in meals %}
			{% include 'meal/list_item_menu.html' with in_cart=True meal=meal.0 meal_count=meal.1 only %}
		{% empty %}
		<p>Vaša košarica čeka svoje prvo jelo!</p>
		{% endfor %}
	</div>
</div>

{% endblock %}
