{% load staticfiles %}
<div class="row meal-detail">
	<div class="col-md-4 image"
			  {% if meal.image %}
			  style="background-image: url('{{ meal.image.url }}')"
			  {% endif %}
			  >
		&nbsp;
	</div>
	<div class="col-md-6">
		<h4>{{ meal.name }}</h4>
		<em>Cijena: {{ meal.price|floatformat:"2" }} HRK</em>
	</div>	  
	<div class="col-md-2">
		{% if meal.available %}
		<a href="#">Dodaj u košaricu</a>
		{% else %}
		<em>Jelo trenutno nije dostupno</em>
		{% endif %}
		{% if meal.is_hot %}
			<img class="hot"
				src="{% static 'img/fire.png'%}"
				title="Ovo jelo je često naručivano"
				/>
		{% endif %}
	</div>
</div>
